#block1 {
    padding-bottom: 3vh;
}

#hero {
    background: rgba(46, 49, 49, .1) ;
    padding-bottom: 3%;
    padding-top: 3%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    max-width: 500px;
    margin: auto auto;
}

.card {
    margin: auto auto;
}

#interBtn, #ready {
    /* width: 20%; */
    max-width: 50%;
    margin: auto auto;
}

#ready { 
    margin-top: 3vh;
}

#linkInput, #selectRapper, #rapBtn{
    max-width: 80%;
    margin: auto auto;
}

#block1 {
    background-image: url("/img/bg2.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

h1 {
    color: blue;
    font-size: larger;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}

.cardIMG {
    max-width:100%;
    max-height:100%;
}
