#block1 {
    padding-bottom: 3vh;
}

#hero {
    background: rgba(46, 49, 49, .1) ;
    padding-bottom: 3%;
    padding-top: 3%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    max-width: 80%;
    margin: auto auto;
}

#goBtn, #ready {
    /* width: 20%; */
    max-width: 50%;
    margin: auto auto;
}

#ready { 
    margin-top: 3vh;
}

#linkInput{
    max-width: 80%;
    margin: auto auto;
}

#block1, body {
    background-image: url("/img/bg1.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
}

h1 {
    color: blue;
    font-size: larger;
}